---
import PageLayout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import { findImage } from '~/utils/images';
import { fetchContact } from '~/utils/page';
import { RSS } from '~/utils/config';

const metadata = {
  title: 'Contacto',
};

const contactData = await fetchContact();
---

<PageLayout metadata={metadata}>
  <Hero
    title={contactData.title}
    image={{ src: findImage(contactData.image), alt: 'ermita' }}
    subtitle={contactData.subtitle}
    tagline={contactData.tagline}
  />

  <div class="relative w-full h-96">
    <iframe
      class="absolute top-0 left-0 w-full h-full"
      src={contactData.map}
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    >
    </iframe>
  </div>

  <ContactUs
    title={contactData.titleform}
    subtitle={contactData.subtitleform}
    inputs={[
      {
        type: 'text',
        name: 'nombre',
        label: 'Nombre',
      },
      {
        type: 'email',
        name: 'correo',
        label: 'Correo electrónico',
      },
      {
        type: 'tel',
        name: 'telefono',
        label: 'Teléfono',
      },
    ]}
    textarea={{
      label: 'Mensaje',
    }}
    description={contactData.descrptionform}
    disclaimer={{ label: contactData.disclaimer }}
  />

  <Features2
    title="Información de contacto"
    items={[
      {
        title: 'Teléfono',
        description: contactData.phone,
        icon: 'tabler:headset',
      },
      {
        title: 'Correo electrónico',
        description: contactData.email,
        icon: 'tabler:mail',
      },
      {
        title: 'Dirección',
        description: contactData.address,
        icon: 'tabler:map-pin',
      },
      {
        title: 'Facebook',
        icon: 'tabler:brand-facebook',
        callToAction: {
          text: 'Ir a la página de Facebook',
          href: `https://www.facebook.com/${RSS.facebook}`,
          variant: 'link',
          target: '_blank',
        },
      },
      {
        title: 'Instagram',
        icon: 'tabler:brand-instagram',
        callToAction: {
          text: 'Ir al perfil de Instagram',
          href: `https://www.instagram.com/${RSS.instagram}`,
          variant: 'link',
          target: '_blank',
        },
      },
      {
        title: 'WhatsApp',
        icon: 'tabler:brand-whatsapp',
        callToAction: {
          text: 'Ir al canal de WhatsApp',
          href: `https://whatsapp.com/${RSS.whatsapp}`,
          variant: 'link',
          target: '_blank',
        },
      },
    ]}
  />
</PageLayout>
