---
import Layout from '~/layouts/PageLayout.astro';

import Note from '~/components/widgets/Note.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { fetchHome, fetchLastMagazine } from '~/utils/page';

const metadata = {
  title: 'Inicio | Hermandad de San Isidro Labrador',
  ignoreTitleTemplate: true,
};

const homeData = await fetchHome();
const lastMagazine = await fetchLastMagazine();

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <div class="w-full bg-cover bg-top" style="height:32rem; background-image: url(/images/hero.jpg);"></div>

  <!-- Note Widget ******************* -->

  <Note note={homeData.announce} />

  <BlogLatestPosts title="Actualidad" information="Noticias y eventos de la Hermandad" />

  <CallToAction
    title={`Revista ${lastMagazine.year}`}
    subtitle={lastMagazine.description || 'Descarga el último número de la revista anual de la hermandad'}
    tagline={lastMagazine.description && 'Descarga la revista de la hermandad'}
    callToAction={{
      text: 'Ver',
      href: lastMagazine.url,
      icon: 'tabler:link',
    }}
  />

  <FAQs
    title={homeData.titlefaqs}
    subtitle={homeData.subtitlefaqs}
    tagline={homeData.taglinefaqs}
    classes={{ container: 'max-w-6xl' }}
    items={homeData.faqs}
  />
</Layout>
