---
import merge from 'lodash.merge';

import { SITE, METADATA } from '~/utils/config';
import type { MetaData } from '~/types';
import { getCanonical } from '~/utils/permalinks';

import { adaptOpenGraphImages } from '~/utils/images';

export interface Props extends MetaData {
  dontUseTitleTemplate?: boolean;
}

const {
  title,
  ignoreTitleTemplate = false,
  canonical = String(getCanonical(String(Astro.url.pathname))),
  robots = {},
  description,
  openGraph = {},
  twitter = {},
} = Astro.props;

const seoProps = merge(
  {
    title: '',
    titleTemplate: '%s',
    canonical: canonical,
    noindex: true,
    nofollow: true,
    description: undefined,
    openGraph: {
      url: canonical,
      siteName: SITE?.name,
      images: [{ url: 'https://hermandadsanisidrolabrador.es/images/hero.webp' }],
      locale: 'es',
      type: 'website',
    },
    twitter: {
      cardType: openGraph?.images?.length ? 'summary_large_image' : 'summary',
    },
  },
  {
    title: METADATA?.title?.default,
    titleTemplate: METADATA?.title?.template,
    noindex: typeof METADATA?.robots?.index !== 'undefined' ? !METADATA.robots.index : undefined,
    nofollow: typeof METADATA?.robots?.follow !== 'undefined' ? !METADATA.robots.follow : undefined,
    description: METADATA?.description,
    openGraph: METADATA?.openGraph,
    twitter: METADATA?.twitter,
  },
  {
    title: title,
    titleTemplate: ignoreTitleTemplate ? '%s' : undefined,
    canonical: canonical,
    noindex: typeof robots?.index !== 'undefined' ? !robots.index : undefined,
    nofollow: typeof robots?.follow !== 'undefined' ? !robots.follow : undefined,
    description: description,
    openGraph: { url: canonical, ...openGraph },
    twitter: twitter,
  }
);

const resolvedTitle = seoProps.titleTemplate
  ? seoProps.titleTemplate.replace('%s', seoProps.title || '')
  : seoProps.title;

const resolvedOpenGraph = await adaptOpenGraphImages(seoProps?.openGraph, Astro.site);

const robotsContent = [seoProps.noindex ? 'noindex' : 'index', seoProps.nofollow ? 'nofollow' : 'follow'].join(', ');
---

<title>{resolvedTitle}</title>
{seoProps.canonical && <link rel="canonical" href={seoProps.canonical} />}
{seoProps.description && <meta name="description" content={seoProps.description} />}
<meta name="robots" content={robotsContent} />

<!-- Open Graph -->
{resolvedOpenGraph?.type && <meta property="og:type" content={resolvedOpenGraph.type} />}
{resolvedTitle && <meta property="og:title" content={resolvedTitle} />}
{seoProps.description && <meta property="og:description" content={seoProps.description} />}
{resolvedOpenGraph?.url && <meta property="og:url" content={resolvedOpenGraph.url} />}
{resolvedOpenGraph?.siteName && <meta property="og:site_name" content={resolvedOpenGraph.siteName} />}
{resolvedOpenGraph?.locale && <meta property="og:locale" content={resolvedOpenGraph.locale} />}
{
  resolvedOpenGraph?.images?.map((image) => (
    <>
      {image.url && <meta property="og:image" content={image.url} />}
      {image.width && <meta property="og:image:width" content={String(image.width)} />}
      {image.height && <meta property="og:image:height" content={String(image.height)} />}
      <meta property="og:image:alt" content={resolvedTitle || SITE.name} />
    </>
  ))
}

<!-- Twitter -->
{seoProps.twitter?.cardType && <meta name="twitter:card" content={seoProps.twitter.cardType} />}
{seoProps.twitter?.site && <meta name="twitter:site" content={seoProps.twitter.site} />}
{seoProps.twitter?.handle && <meta name="twitter:creator" content={seoProps.twitter.handle} />}
{resolvedTitle && <meta name="twitter:title" content={resolvedTitle} />}
{seoProps.description && <meta name="twitter:description" content={seoProps.description} />}
{resolvedOpenGraph?.images?.[0]?.url && <meta name="twitter:image" content={resolvedOpenGraph.images[0].url} />}
