---
const { name, label, type = 'text' } = Astro.props;
---

<div class={Astro.props.class}>
  <label for={name} class="block text-sm font-medium mb-1">{label}</label>
  <input
    type={type}
    name={name}
    id={name}
    class="py-2 px-3 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
  />
</div>
